.menu-card{
    display: flex;
    flex-direction: row;
    border: 1px solid #dadada;
    box-shadow: 16px 8px #e8e8f0;
    min-width: 50vw;
    max-width: 100%;
    padding: 10px;
    border-radius: 15px;
    gap:5px;
    
    max-width: 100%;
    justify-content: space-between;
}
.menu-image{
    width: 120px;

}