.shimer-card{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 280px;
        padding: 8px;
    height: 400px;
    background: #eff0f5;
}
.Shimer-main-card {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}