    .card {
        display: flex;
        flex-direction: column;
        width: 280px;
        max-height: 100%;
        padding: 8px;
        /* width: 100%; */
        border: 1px solid #4d4d4d;
        gap: 0px;
        height:400px;
        box-sizing: border-box;
        border-radius: 6px;
        margin: 8px;
        justify-content: space-between;
        /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
        
    }
    .main-headings {
        margin: 0px;
        padding: 3px 0px;
        width: 100%;
        margin-top: 5px;    
        color: #000;
        font-size: 1.2rem;
    }
    .headings{
        margin: 0px;
        padding: 3px 0px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        color: #5c5353;
        font-size: 1.1rem;
    }
    .cuisines{
        flex-wrap: wrap;
    }
    .home-main{
        display: flex;
        flex-direction: column;
        padding: 20px;
        
        
    }
    .restaurant-card {
        display: flex;
        flex-direction: row;
        /* justify-content: center;
        align-items: center; */
        flex-wrap: wrap;
        padding: 0px;
    }
.image{
    height: 200px;
    background-size: cover;
    

}
.search-container{
    display: flex;
    padding: 10px 8px;
    align-items: center;
    gap: 10px;  
}
.input-search{
    padding: 5px;
    border:1px solid #4d4d4d;
    border-radius: 5px;
    color:#000;
    outline: none;
    font-size: 18px;
}
.search-btn{
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
}